Repository matsuurahiroki/chat_app: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# codecov.yml

codecov:
  require_ci_to_pass: yes

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: '60..90'
  status:
    project:
      default:
        target: auto
        threshold: 1%

      backend:
        flags:
          - backend
        target: auto
        threshold: 1%

      frontend:
        flags:
          - frontend
        target: auto
        threshold: 1%

    patch:
      default:
        target: 80%
        threshold: 1%

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

ignore:
  - '**/node_modules/**'
  - 'frontend/.next/**'
  - 'frontend/test/**'
  - 'backend/spec/**'
  - 'backend/db/**'
  - 'backend/config/**'
  - 'backend/vendor/**'

# Docker内パスでlcovが出る場合のパス補正（必要なものだけ残してください）
fixes:
  - '/app/::backend/'
  - '/usr/src/app/::frontend/'

parsers:
  lcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: yes

“ecsへのci/cd追加”
  .github/workflows/ci.yml
Due: none

“uiの改善、アラート等の一新”
  backend/app/controllers/api/auth/registrations_controller.rb
  backend/app/models/room.rb
  backend/app/models/user.rb
  backend/config/locales/ja.yml
  frontend/src/app/api/bff/auth/signup/route.ts
  frontend/src/app/api/bff/rooms/route.ts
  frontend/src/app/components/AuthPassword.tsx
  frontend/src/app/components/DeleteTab.tsx
  frontend/src/app/components/Header.tsx
  frontend/src/app/components/LoginModal.tsx
  frontend/src/app/components/ProfileForm.tsx
  frontend/src/app/components/RoomChat.tsx
  frontend/src/app/components/RoomsList.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/providers.tsx
  frontend/src/lib/auth/errorMessages.ts
  frontend/src/lib/nextauth/auth.ts
  frontend/src/lib/toastPopup.ts
Due: backend, frontend

“uiの改善、アラート等の一新”
  frontend/test/setup/__tests__/api/bff-rooms-route.test.ts
Due: none

“uiの改善、アラート等の一新”
  frontend/src/lib/auth/errorMessages.ts
Due: frontend

“パスワード変更機能の実装”
  backend/.rubocop.yml
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/users_controller.rb
  backend/config/routes.rb
  frontend/src/app/api/bff/auth/password/route.ts
  frontend/src/app/components/AuthPassword.tsx
Due: backend, frontend

“パスワード変更機能の実装”
  frontend/src/app/components/DeleteTab.tsx
Due: frontend

“uiの改善、アラート等の一新”
  frontend/src/app/components/DeleteTab.tsx
Due: frontend

“アカウント削除機能追加”
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  frontend/src/app/api/bff/user/route.ts
  frontend/src/app/components/DeleteAccountModal.tsx
  frontend/src/app/components/DeleteTab.tsx
  frontend/src/app/components/Header.tsx
Due: backend, frontend

“アカウント削除機能追加”
  backend/Gemfile
  backend/Gemfile.lock
Due: backend

“アカウント削除機能追加”
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/assets/config/manifest.js
  backend/app/assets/images/.keep
  backend/app/assets/stylesheets/application.css
  backend/app/mailers/application_mailer.rb
  backend/app/views/devise/mailer/confirmation_instructions.html.erb
  backend/config/database.yml
  backend/config/environments/development.rb
  backend/config/initializers/assets.rb
  backend/config/routes.rb
  backend/coverage/.last_run.json
  backend/coverage/.resultset.json
  backend/coverage/app-channels-application_cable-channel.rb.lcov
  backend/coverage/app-channels-application_cable-connection.rb.lcov
  backend/coverage/app-controllers-api-auth-registrations_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-sessions_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-social-google_logins_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-upserts_controller.rb.lcov
  backend/coverage/app-controllers-api-confirmations_controller.rb.lcov
  backend/coverage/app-controllers-api-messages_controller.rb.lcov
  backend/coverage/app-controllers-api-rooms_controller.rb.lcov
  backend/coverage/app-controllers-api-users_controller.rb.lcov
  backend/coverage/app-controllers-boards_controller.rb.lcov
  backend/coverage/app-jobs-application_job.rb.lcov
  backend/coverage/app-mailers-application_mailer.rb.lcov
  backend/coverage/app-models-message.rb.lcov
  backend/coverage/app-models-room.rb.lcov
  backend/coverage/app-models-user.rb.lcov
  backend/spec/requests/api/user_spec.rb
Due: backend

“アカウント削除機能追加”
  assets/.DS_Store
  frontend/src/app/icon.png
Due: frontend

“アカウント削除機能追加”
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: none

“アカウント削除機能追加”
  backend/config/environments/production.rb
  backend/spec/factories/users.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/auth/jwt_header_spec.rb
  backend/spec/requests/api/auth/login_spec.rb
  backend/spec/requests/api/auth/login_token_spec.rb
  backend/spec/requests/api/auth/logout_spec.rb
  backend/spec/requests/api/auth/signup_spec.rb
  backend/spec/requests/api/auth/upsert_spec.rb
  backend/spec/requests/api/messages_spec.rb
  backend/spec/requests/api/rooms_spec.rb
  backend/spec/requests/api/user_spec.rb
  backend/spec/requests/api/users_spec.rb
  backend/spec/spec_helper.rb
  backend/spec/support/devise_jwt_test_helpers.rb
  backend/spec/support/jwt_helpers.rb
  backend/spec/support/request_helpers.rb
Due: none

“アカウント削除機能追加”
  backend/config/environments/development.rb
  backend/config/environments/production.rb
Due: none

“アカウント削除機能追加”
  backend/coverage/.last_run.json
  backend/coverage/.resultset.json
  backend/coverage/app-controllers-api-auth-registrations_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-sessions_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-upserts_controller.rb.lcov
  backend/coverage/app-controllers-api-rooms_controller.rb.lcov
  backend/coverage/app-models-room.rb.lcov
  backend/coverage/app-models-user.rb.lcov
  backend/spec/factories/users.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/messages_spec.rb
  backend/spec/requests/api/rooms_spec.rb
  backend/spec/requests/api/user_spec.rb
  backend/spec/requests/api/users_spec.rb
  backend/spec/spec_helper.rb
  backend/spec/support/devise_jwt_test_helpers.rb
  backend/spec/support/jwt_helpers.rb
  backend/spec/support/request_helpers.rb
Due: backend

“アカウント削除機能追加”
  nginx/Dockerfile
Due: none
