Repository matsuurahiroki/chat_app: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# codecov.yml

codecov:
  require_ci_to_pass: yes

comment:
  layout: 'diff, flags, files'
  behavior: default
  require_changes: no

coverage:
  precision: 2
  round: down
  range: '60..90'
  status:
    project:
      default:
        target: auto
        threshold: 1%

      backend:
        flags:
          - backend
        target: auto
        threshold: 1%

      frontend:
        flags:
          - frontend
        target: auto
        threshold: 1%

    patch:
      default:
        target: 80%
        threshold: 1%

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

ignore:
  - '**/node_modules/**'
  - 'frontend/.next/**'
  - 'frontend/test/**'
  - 'backend/spec/**'
  - 'backend/db/**'
  - 'backend/config/**'
  - 'backend/vendor/**'

# Docker内パスでlcovが出る場合のパス補正（必要なものだけ残してください）
fixes:
  - '/app/::backend/'
  - '/usr/src/app/::frontend/'

parsers:
  lcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: yes
      macro: yes

“CI/CDの設定最中”
  .github/workflows/ci.yml
  frontend/....
  frontend/package-lock.json
  frontend/package.json
Due: frontend

“CI/CDの設定最中”
  .github/workflows/ci.yml
Due: none

CI test
  .github/workflows/ci.yml
Due: none

“CI/CDの設定最中”
  frontend/src/app/components/Header.tsx
Due: frontend

“ssl等の設定”
  .DS_Store
  Docker-compose.yml
  backend/Dockerfile
  backend/app/controllers/api/auth/registrations_controller.rb
  backend/app/models/user.rb
  backend/config/environments/production.rb
  backend/config/puma.rb
  backend/config/routes.rb
  backend/db/schema.rb
  backend/start.sh
  db/.env.db
  frontend/....
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/bff/auth/signup/route.ts
  frontend/src/app/components/RoomsList.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/nextauth/auth.ts
  nginx/certs/cert.pem
  nginx/certs/key.pem
  nginx/nginx.conf
Due: backend, frontend

“ssl等の設定”
  backend/config/environments/production.rb
Due: none

“url等の設定”
  Docker-compose.yml
  nginx/Dockerfile
  nginx/ecs.conf
  nginx/local.conf
Due: none

“url等の設定”
  frontend/src/lib/nextauth/auth.ts
Due: frontend

“url等の設定”
  frontend/src/app/api/bff/auth/signup/route.ts
Due: frontend

“url等の設定”
  backend/config/routes.rb
Due: none

“url等の設定”
  backend/coverage/.resultset.json
  backend/coverage/app-channels-application_cable-channel.rb.lcov
  backend/coverage/app-channels-application_cable-connection.rb.lcov
  backend/coverage/app-controllers-api-auth-registrations_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-sessions_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-social-google_logins_controller.rb.lcov
  backend/coverage/app-controllers-api-auth-upserts_controller.rb.lcov
  backend/coverage/app-controllers-api-confirmations_controller.rb.lcov
  backend/coverage/app-controllers-api-messages_controller.rb.lcov
  backend/coverage/app-controllers-api-rooms_controller.rb.lcov
  backend/coverage/app-controllers-api-users_controller.rb.lcov
  backend/coverage/app-controllers-boards_controller.rb.lcov
  backend/coverage/app-jobs-application_job.rb.lcov
  backend/coverage/app-mailers-application_mailer.rb.lcov
  backend/coverage/app-models-message.rb.lcov
  backend/coverage/app-models-report.rb.lcov
  backend/coverage/app-models-room.rb.lcov
  backend/coverage/app-models-room_ban.rb.lcov
  backend/coverage/app-models-user.rb.lcov
  backend/spec/requests/api/confirmations_spec.rb
Due: backend

Create README.md
  README.md
Due: none

add tsunagaru image
  .DS_Store
  backend/db/seeds.rb
  nginx/Dockerfile
  nginx/ecs.conf
  nginx/entrypoint.sh
Due: none

add tsunagaru image
  assets/tsunagaru.png
Due: none

Update README.md
  README.md
Due: none

Revise feature list and remove infra diagram
  README.md
Due: none

“er図、インフラ図の追加”
  .DS_Store
  assets/AWSグローバル・トランザクション・エンジン・アーキテクチャ_backup_100170_backup_1002fb_backup_100418.jpg
  assets/er_diagram_from_schema_v2.png
  backend/app/controllers/api/auth/sessions_controller.rb
  backend/app/models/report.rb
  backend/app/models/room_ban.rb
  backend/db/migrate/20260227205527_remove_confirmable_from_users.rb
  backend/db/migrate/20260227210148_drop_room_bans_and_reports.rb
  backend/db/schema.rb
Due: backend

“er図、インフラ図の追加”
  .DS_Store
  assets/.DS_Store
  assets/AWSグローバル・トランザクション・エンジン・アーキテクチャ_backup_100170_backup_1002fb_backup_100418.jpg
  assets/ER図.png
  assets/インフラ構成図.png
Due: none

“er図、インフラ図の追加”
  backend/spec/requests/api/auth/jwt_header_spec.rb
  backend/spec/requests/api/auth/login_token_spec.rb
Due: none

“er図、インフラ図の追加”
  .DS_Store
  assets/.DS_Store
  assets/インフラ構成図.eddx
  assets/インフラ構成図.jpg
  assets/インフラ構成図.png
Due: none

Change infrastructure diagram format from PNG to JPG
  README.md
Due: none

“ecsへのci/cd追加”
  .github/workflows/deploy-ecs.yml
  backend/db/seeds.rb
  backend/spec/requests/api/auth/jwt_header_spec.rb
  backend/spec/requests/api/auth/login_token_spec.rb
  nginx/Dockerfile
Due: none

“ecsへのci/cd追加”
  nginx/Dockerfile
Due: none

“ecsへのci/cd追加”
  backend/Dockerfile
Due: backend

“ecsへのci/cd追加”
  backend/Gemfile
Due: backend

“ecsへのci/cd追加”
  backend/.ruby-version
Due: backend
